@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
}

.left-50 {
    left: 50%;
}
.right-50 {
    right: 50%;
}
.top-50 {
    top: 50%;
}

.-z-1 {
    z-index: -1;
}

.secondary-title {
    @apply text-3xl font-bold -mb-10;

    margin-bottom: -1.25rem;
    font-size: 1.875rem;
    line-height: 5rem;
    font-weight: 700;
}

.secondary-title::before {
    content: "";
    @apply block w-full h-2 bg-yellow-300 rounded-full -mt-5;

    margin-top: -10rem;
    display: block;
    height: 0.5rem;
    width: 100%;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity));
}

.section-paragraph {
    @apply text-slate-400 text-lg my-6 w-full mt-8 mb-1.5;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    --tw-text-opacity: 1;
    /* color: rgb(255 255 255 / var(--tw-text-opacity)); */

}

.badge {
    @apply px-4 py-2 text-sm rounded bg-badge;
}

[id] {
scroll-margin-top: 100px;
}

.left-percentage {
    left: 5%;
}

.h-screen-partial {
    height: 80vh;
}

.nav-dot {
    transition: background 200ms, border-color 200ms;
}

.selected-circle {
    @apply border-black bg-yellow-400;
}

.nav-dot:hover span {
    opacity: 1;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-2xl {
    font-size: 1.3rem;
    line-height: 3rem;
  }